<h4>Login:</h4><br/>
<div class="card">
    <div class="card-body">
    <form action="/users/login" method="post">
        <label for="email">email: </label>
            <input type="email" name="email" class="form-control" required>
        <label for="password">password: </label>
            <input type="password" name="password" class="form-control" required>
        <button class="btn btn-success mt-2" type="submit">login</button>
    </form>
    </div>
</div>